{% extends "base.html" %}
{% load thumbnail %}
{% block body_class %}applist{% endblock %}
{%  block content %}
{% if map_list %}
    <ul>
    {{ map_items }}
    </ul>
{% else %}
    <p>No maps are available.</p>
{% endif %}
{% endblock %}

{% block header_bar %}
<div id="duobutton"><!-- TODO: [DOWNLOADS] <div id="tributton  <a id="pressed" -->
        <div class="links">
            <a href="/?sort=TOP_NEW">Newest</a><a href="/?sort=TOP_RATINGS">Best Rated</a><!-- TODO: [DOWNLOADS] <a href="/?order=downloaded">Downloads</a>-->
        </div>
</div>
{% endblock %}

{% block heading %}
    <div id="leftnav"><a href="/categories/">Categories</a></div>
{% endblock %}

